/* Reset Básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Home */
.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e0e0e;
}

.home__container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.home__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home__button {
  filter: invert(1);
  width: 10%;
  height: 10%;
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);

  padding: 1rem 2rem;
  color: #000;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/* Hover apenas para mouse (desktop) */
@media (hover: hover) {
  .home__button:hover {
    background-color: rgba(230, 184, 0, 0.9);
  }
}

/* Responsividade */

/* Tablets */
@media (max-width: 1024px) {
  .home__button {
    padding: 0.9rem 1.8rem;
    font-size: 1rem;
    bottom: 8%;
  }
}

/* Celulares médios */
@media (max-width: 768px) {
  .home__button {
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
    bottom: 7%;
  }
}

/* Celulares pequenos */
@media (max-width: 480px) {
  .home__button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    bottom: 5%;
  }
}
